.app
{
    display: none;
}

.dayInAgenda
{
    float: left;
}

.agendaTitle
{
	white-space: pre-wrap;
}

.shortDesc
{
	white-space: normal;
	font-size: small;
	font-weight: normal;
	font-style: italic;
}

.agendaTitle span
{
	font-weight: normal;
}

.left
{
	text-align: left;
	padding-left: 0.2rem;
}

.agendaDetail
{
	padding-right:0.5rem;
}

.detailH
{
	min-height:0.5rem;
}

.highlight
{
	background-color: #ffcc00;
	box-shadow: 5px 5px 5px #a7a7a7;
}

#header
{
 	background-image: url(../img/AOFBanner70px.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position-y: -5px;	
}

#h1
{
	color: #ffcc00;
    font-weight: normal;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 0px;
    padding-right: 5%;
    padding-left: 90%;
    font-family: Roboto, Helvetica, Arial, sans-serif;	
}

#h3
{
	background-image: url(../img/AchabFooter.png);
    background-repeat: no-repeat;
    background-position-y: 0.5rem;
    background-position-x: 50%;
}

.eventTitle
{
	font-weight: bold;
}

.navicon
{
    width: 28px;
    height: 27px;
}

.left-icon
{
	
	background-image: url(../img/left.png);
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	float:left;
	padding-left:0.5rem;
	padding-right: 90%;	
	padding-bottom:0.5rem;
}

.right-icon
{
	background-image: url(../img/right.png);
	background-color: transparent;
	background-position: right center;
	background-repeat: no-repeat;
	float:right;
	padding-right:0.5rem;	
}

.hide
{
    display: none !important;
    visibility: hidden;
}

.day-active
{
    background-color: #3296dc /*{a-active-background-color}*/;
    border-color: #3388cc /*{a-active-border}*/;
    color: #fff /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}



#footer 
{
	position:fixed;
	z-index:10;
	bottom:0px;
	width:100%;
}

.emptyDiv
{
	visibility: hidden;
	width:100%;
	height: 3rem;
}